.toast {
  background-color: aquamarine;
  display: flex;
  width: 20rem;
  border: 1px solid gainsboro;
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: space-between;
  word-wrap: normal;
}

.toast-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
}

.closeButton {
  cursor: pointer;
}

button {
  padding: 1rem;
  background-color: cadetblue;
  font-weight: bold;
  border: none;
  margin: 1rem;
}

button:hover {
  background-color: aquamarine;
  color: black;
}